@import 'tailwindcss';
@import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');


.btn-primary {
  @apply flex items-center gap-2 px-4 py-2 rounded-full
         bg-blue-500 hover:bg-blue-600 transition;
}

.btn-warn {
  @apply flex items-center gap-2 px-4 py-2 rounded-full
         bg-orange-500 hover:bg-orange-600 transition;
}

body {
    font-family: "MiSans VF", "Noto Color Emoji";
}
/* ChatGPT 风格滚动条 */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  transition: background-color 0.2s ease;
}

/* hover 时更明显 */
.chat-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Firefox */
.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
