@import 'tailwindcss';

.btn-primary {
  @apply flex items-center gap-2 px-4 py-2 rounded-full
         bg-blue-500 hover:bg-blue-600 transition;
}

.btn-warn {
  @apply flex items-center gap-2 px-4 py-2 rounded-full
         bg-orange-500 hover:bg-orange-600 transition;
}
